<% include ./partials/header %>
<div class="content_wrapper">
  <div class="bio">
    <p><span>Hi,dsads my name is Jeremy Dixon and I am a programmer, dog walker, board game player, meditor, musician, and armchair philosopher.</span> After years of working with various non-profits, talking face to face with prospective donors, I developed a personal sense of responsibility to them. After all, I told them, “We can’t achieve our mission without your support.” So when I saw that my organization was missing massive opportunities to increase productivity because they were unable to implement consistent software and data solutions, I felt I was letting down the thousands of people I had made members of our organization. What began as curiosity about how to improve my team's performance galvanized into a determination to learn the skills necessary to modernize the workflow of these organizations and to free their employees to focus on what is most important; their people and their mission.</p>
    <p>That Journey has been a difficult one. I knew when I started that the most likely reason that these systems were not implemented was that is was harder than I thought. But I wouldnt know until I tried. My first few projects were simple wordpress sites. I got lost in tutorials for a while until an old colleague reached out to me and asked if it might be possible to automate some data reconcilliation between google sheets and an automated email system. I rolled up my sleeves and dug into Google's AppScript API documentation. I completed a rebuild of their sheet which took data from the emails, reconciled it, and printed a calendar infographic displaying any discrepencies. On the day of the test I got a phone call saying 'yeah we looked for bugs in your program and it just kept finding our mistakes.' I was hooked. I had successfully destroyed a full work day per month of repetitive labor. I was Jeremy Dixon, murderer of Busywork. I was hooked. </p>

    <p>Here you will find my latest Projects, my resume for those of you looking for help, and some links to the sorts of things I like to do for fun. I appreciate you stopping by and hope you find something interesting.</p>
  </div>
  <div class="programming">
    <div class="projects">
      <div class="Anatomy Quiz">
        <p class="project_intro">A good friend of mine, who is currently in school for her paleontology degree, was marveling at a particular style of geography quiz she found online. She thought the same style might be useful for anatomy quizzes so I built this prototype. She provided an SVG which I altered slightly to include some ID tags. SnapSVG made my life easier and I whipped this up. Theoretically adding more SVGs will be trivial once they are made, but for now it is only one quiz.</p>
      </div>
      <div class="Risk">
        <p class="project_intro">I have this memory seered into my brain of a mountain dew can pyramid. We crafted it weekly in college, usually during our second or third game of Risk. Yes you heard me correctly, we played three games of risk in a single night. I dont know what possessed me to attempt this when I was really just trying to make a simple CRUD app for mongodb practice, but it sounded like a good idea at the time. I have learned an incredible amount building this, but it is not yet fully functional. </p>
      </div>
    </div>
  </div>
  <div class="hobbies">
    <div class="dogs"> I walk dogs for money. Its highly flexible and leaves me time to program and do drone photography. I love these stupid mutts. Most people do so here are some pictures of how cute they are.</div>
    <div class="drone photography"> In 2015 I flew my first drone. It was terrifying. It was amazing. I saw the world from a new perspective and did not want to ever stop.</div>
    <div class="music"></div>
  </div>
</div>
<% include ./partials/footer %>
