<% include ./partials/header %>
<link rel="stylesheet" href="/home.css">
<div class="content_wrapper">
  <div class="hero-image" style="background-image:url('images/Skyline.jpg')"></div>
  <div class="content">
    <section class="bio_section">
      <img class="portrait" src="portrait.png" alt="">
      <div class="bio_text">
        <p><span> Hi, my name is Jeremy Dixon and I am a programmer</span>, dog walker, meditor, musician, and armchair philosopher. After years of working with  non-profits, talking face to face with prospective donors, I developed a personal sense of responsibility to them.  In that work I saw a tremendous need for software solutions, both to reduce workload and ensure a healthy data pipeline. </p>

        <p>What began as curiosity about how to improve my team's performance galvanized into a determination to learn the skills necessary to modernize the workflow of organizations and to free their employees to focus on what is most important; their people and their mission.</p>
        
      </div>
    </section>
    <section class="projects_section">
      <h1 class="projects_title">Projects</h1>
      <div class="project_container">
        <div class="link_container"><a href="/anatomyQuiz">Anatomy Quiz</a></div>
        <p class="project_intro">An Anatomy Quiz made for a friend of mine.</p>
      </div>
      <div class="project_container">
        <div class="link_container"><a href="/gameLobby">Risk</a></div>
        <p class="project_intro"> I dont know what possessed me to attempt this when I was really just trying to make a simple CRUD app for mongodb practice, but it sounded like a good idea at the time...
      </div>
    </section>
  </div>
</div>


<% include ./partials/footer %>
