<!DOCTYPE html>
<% include ./partials/header %>
<link rel="stylesheet" href="/loginStyles.css">
<section class="login_wrapper">
  <h1 class="login-title">Login using...</h1>
  <div class="login-button"><a class="login-btn-label" href="/auth/google">Google+</a></div>
  <div class="login-button"><a class="login-btn-label" href="/auth/github">Github</a></div>
</section>
<% include ./partials/footer %>
