<% include ./partials/header %>
<link rel="stylesheet" href="/projectsStyles.css">
<div class="projects">
  <div class="project_container">
    <div class="link_container"><a href="/anatomyQuiz">Anatomy Quiz</a></div>
    <p class="project_intro">A good friend of mine, who is currently in school for her paleontology degree, was marveling at a particular style of geography quiz she found online. She thought the same style might be useful for anatomy quizzes so I built this prototype. She provided an SVG which I altered slightly to include some ID tags. SnapSVG made my life easier and I whipped this up. Theoretically adding more SVGs will be trivial once they are made, but for now it is only one quiz.</p>
  </div>
  <div class="project_container">
    <div class="link_container"><a href="/gameLobby">Risk</a></div>
    <p class="project_intro">I have this memory seered into my brain of a mountain dew can pyramid. We crafted it weekly in college, usually during our second or third game of Risk. Yes you heard me correctly, we played three games of risk in a single night. I dont know what possessed me to attempt this when I was really just trying to make a simple CRUD app for mongodb practice, but it sounded like a good idea at the time. I have learned an incredible amount building this, but it is not yet
  </div>
</div>
<% include ./partials/footer %>
