<% include ./partials/header %>
<div class="resume">
  <link rel="stylesheet" href="/resumeStyles.css"></link>
  <title>The Resume of Jeremy Dixon</title>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Merriweather" rel="stylesheet">
  <div class="resume">
    <h1 class="title_name"> Jeremy Dixon </h1>
    <div class="contact_box">
      <p class="title_address">3115 N Monticello Ave, Chicago, IL</span> </p>
      <p class="title_email"> j.dixon.meta@gmail.com</p>
      <p class="title_phone">(319) 850-8620</p>
    </div>
    <div class="programming">
    <h1 class="title_programming">Programming Experience</h1>
      <div class="projects_wrapper">
        <h2 class="title_projects">Projects</h2>
        <h3>Door to Door</h3>
        <p>Building a web application to facilitate door to door fundraising and data collection</p>
        <a class='projectLink' href="https://bitbucket.org/Noxid86/door2door">View This Project</a>
        <h3>Canvass Tracker</h3>
        <p>Hired to write Javascript which automated monthly data reconcilliation for a nonprofit</p>
        <a class='projectLink' href="https://bitbucket.org/Noxid86/canvasstracker">View This Project</a>
        <h3>WorldBuilder</h3>
        <p>Using Node I have begun building the bones of a text based game that uses a MySQL database to store locatin and object information</p>
        <a class='projectLink' href="https://bitbucket.org/Noxid86/worldbuilder">View This Project</a>
      </div>
      <div class="languages">
        <h2>Languages and Libraries</h2>
          <li>CSS/SASS</li>
          <li>HTML</li>
          <li>PHP</li>
          <li>Javascript/JQuery</li>
          <li>Node</li>
          <li>Git</li>
        <h2>Software</h2>
          <li>Adobe Premiere</li>
          <li>Photoshop</li>
          <li>Microsoft Office</li>
          <li>Google Suite</li>
          <li>Wordpress</li>
      </div>
    </div>
    <div class="experience">
      <h1 class="title_experience">Professional Experience</h1>
      <div>
      <h2><span>Walker</span> at Urban tailz, Chicago IL</h2>
      <li>October 2017 to Current</li>
      <li>Consistently exceeded personal fundraising goals by engaging prospective donors with sincere listening</li>
      <li>Trained, managed, and mentored more than 100 employees</li>

      <h2><span>Brain Coach</span> at Marbles, Chicago IL</h2>
      <li>December 2015 to April 2016</li>
      <li>Engaged customers and increased sales by demonstrating various board games and toys</li>
      <li>Regularly exceeded sales goals</li>

      <h2><span>Tech Support and PC Technician</span> at Staples, Burlington IA</h2>
      <li>May 2015 to December 2015</li>
      <li>Repaired PCs, replaced hardware</li>
      <li>Utilized EasyTech software to create work orders and communicate with off-site technicians</li>

      <h2><span>Field Manager</span> at The Fund for the Public Interest, Chicag IL</h2>
      <li>2012 2013</li>
      <li>Lead and managed crews of fundraisers to reach and exceed daily and weekly fundraising goals</li>
      <li>Trained approximately 150 new hires in connecting with their audience to encourage increased donations</li>
      </div>
    </div>
    <div class="education">
      <h1 class="title_education">Education</h1>
      <h3>Coursework in Theater, University of Northern Iowa, Cedar Falls, IA</h3>
      <p>August 2008-April 2010</p>
      <h3>Associate of Arts, Indian Hills Community College, Ottumwa, IA</h3>
      <p>May 2008</p>
    </div>
  </div>
</div>
<% include ./partials/footer %>
